<!-- header.html -->
	<nav class='navbar navbar-default'>
		<div class='container-fluid'>
			<div class='navbar-header'>
				<div class='navbar-brand' align=center>
					<b>投票趣</b>
				</div>
			</div>
			{% load account %}
			<ul class='nav navbar-nav'>
				<li><a href='/'>Home</a></li>
				{% if user.is_authenticated %}
				<li><a href='/accounts/logout'>登出</a></li>
				{% else %}
				<li><a href='/accounts/signup'>註冊</a></li>
				<li><a href='/accounts/login'>登入</a></li>
				{% endif %}
				<li><a href='/admin'>後臺管理</a></li>
			</ul>
		</div>
	</nav>